#WFRP4eLooting_Menu .dialog-content>button.brass,
#WFRP4eLooting_customPreset .dialog-content select:has(option[value="brass"]:checked),
#WFRP4eLooting_customPreset .dialog-content option[value="brass"] {
	background: #B87333;
}
#WFRP4eLooting_Menu .dialog-content>button.silver,
#WFRP4eLooting_customPreset .dialog-content select:has(option[value="silver"]:checked),
#WFRP4eLooting_customPreset .dialog-content option[value="silver"] {
	background: #C0C0C0;
}
#WFRP4eLooting_Menu .dialog-content>button.gold,
#WFRP4eLooting_customPreset .dialog-content select:has(option[value="gold"]:checked),
#WFRP4eLooting_customPreset .dialog-content option[value="gold"] {
	background: #FFD700;
}


#WFRP4eLooting_Menu .dialog-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
#WFRP4eLooting_Menu .dialog-content>button {
    height: 30px;
    padding: unset;
    border: 2px solid var(--color-cool);
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
}
#WFRP4eLooting_Menu .dialog-content>button.custom,
#WFRP4eLooting_Menu .dialog-content>button.add {
    border: 2px dashed var(--color-warm);
}
#WFRP4eLooting_Menu .dialog-content>button.add {
	background: white;
    color: black;
}


#WFRP4eLooting_customPreset {
    min-height: 200px;
}
#WFRP4eLooting_customPreset .dialog-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
#WFRP4eLooting_customPreset .dialog-content input:invalid {
    box-shadow: 0 0 5px var(--color-shadow-primary);
}
#WFRP4eLooting_customPreset .dialog-content hr.separator {
    border: unset;
    border-bottom: 1px dotted var(--color-warm);
    margin: unset;
}
#WFRP4eLooting_customPreset .dialog-content>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#WFRP4eLooting_customPreset .dialog-content>div.description {
    height: 30px;
    gap: 5px;
}
#WFRP4eLooting_customPreset .dialog-content>div.description>input {
    width: 30%;
    height: 100%;
}
#WFRP4eLooting_customPreset .dialog-content>div.description>textarea {
    width: 50%;
    height: 100%;
    min-height: unset;
    resize: none;
}
#WFRP4eLooting_customPreset .dialog-content>div.description>select {
    width: 20%;
    height: 100%;
    text-align: center;
}
#WFRP4eLooting_customPreset .dialog-content>div.money {
    height: 30px;
}
#WFRP4eLooting_customPreset .dialog-content>div.money>.gc,
#WFRP4eLooting_customPreset .dialog-content>div.money>.ss,
#WFRP4eLooting_customPreset .dialog-content>div.money>.bp {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
#WFRP4eLooting_customPreset .dialog-content>div.money>div>input,
#WFRP4eLooting_customPreset .dialog-content>div.money>div>select {
    text-align: right;
    width: 30px;
    height: 20px;
    padding: 2px;
}
#WFRP4eLooting_customPreset .dialog-content>div.money>div>select {
    line-height: 100%;
    text-align: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#WFRP4eLooting_customPreset .dialog-content>div.items {
    height: 30px;
    gap: 3px;
}
#WFRP4eLooting_customPreset .dialog-content>div.items>.table {
    display: flex;
    flex-direction: row;
    gap: 3px;
    padding: 1px;
    width: 40%;
    height: 25px;
    border: 2px solid var(--color-cool);
    border-radius: 5px;
    text-align: center;
}
#WFRP4eLooting_customPreset .dialog-content>div.items>.table>input {
    width: 50%;
    height: 100%;
    padding: 2px;
}
#WFRP4eLooting_customPreset .dialog-content>div.items>div.item {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
#WFRP4eLooting_customPreset .dialog-content>div.items>div.price {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
#WFRP4eLooting_customPreset .dialog-content>div.items>div.item>input,
#WFRP4eLooting_customPreset .dialog-content>div.items>div.item>select,
#WFRP4eLooting_customPreset .dialog-content>div.items>div.price>input,
#WFRP4eLooting_customPreset .dialog-content>div.items>div.price>select {
    text-align: right;
    width: 30px;
    height: 20px;
    padding: 2px;
}
#WFRP4eLooting_customPreset .dialog-content>div.items>div.item>select,
#WFRP4eLooting_customPreset .dialog-content>div.items>div.price>select {
    line-height: 100%;
    text-align: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#WFRP4eLooting_customPreset .dialog-content>div.items>a {
    font-size: 16px;
    display: flex;
    color: darkred;
    align-items: center;
    justify-content: center;
}
#WFRP4eLooting_customPreset .dialog-content>a.add {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    margin-top: 2px;
    color: var(--color-level-success-border);
    border: 2px dashed var(--color-warm);
    border-radius: 50%;
}
#WFRP4eLooting_customPreset .dialog-buttons {
    flex-wrap: wrap;
    align-content: flex-end;
    gap: 3px;
}
#WFRP4eLooting_customPreset .dialog-buttons>button {
    min-width: 30%;
    margin: unset;
}





.message-content div#WFRP4eLooting_Message a[data-action="clickCredit"] {
    border: unset;
    box-shadow: unset;
    background: unset;
    padding: unset;
    font-weight: bold;
}
.message-content div#WFRP4eLooting_Message ul {
    max-height: 150px;
    overflow-y: auto;
    padding-bottom: 5px;
    border: 2px dashed var(--color-warm);
    border-radius: 5px;
}